@import "tailwindcss";

.homePage {
  @apply bg-neutral-900;
  min-height: 100vh;
}

/* .homePage::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: #0f2329;
  background-image:
    repeating-linear-gradient(0deg, transparent, transparent 29px, rgba(42, 66, 69, 0.2) 29px, rgba(42, 66, 69, 0.2) 30px, transparent 30px, transparent 59px, rgba(42, 66, 69, 0.2) 59px, rgba(42, 66, 69, 0.2) 60px),
    repeating-linear-gradient(90deg, transparent, transparent 29px, rgba(42, 66, 69, 0.2) 29px, rgba(42, 66, 69, 0.2) 30px, transparent 30px, transparent 59px, rgba(42, 66, 69, 0.2) 59px, rgba(42, 66, 69, 0.2) 60px),
    radial-gradient(circle at 30px 30px, rgba(42, 66, 69, 0.2) 2.4px, transparent 2.9px),
    radial-gradient(circle at 0px 0px, rgba(42, 66, 69, 0.2) 1.8px, transparent 2.3px),
    radial-gradient(circle at 60px 0px, rgba(42, 66, 69, 0.2) 1.8px, transparent 2.3px),
    radial-gradient(circle at 0px 60px, rgba(42, 66, 69, 0.2) 1.8px, transparent 2.3px),
    radial-gradient(circle at 60px 60px, rgba(42, 66, 69, 0.2) 1.8px, transparent 2.3px);
  background-size: 60px 60px;
} */